email=ramramu955@gmail.com
always-auth=true
//172.21.40.70:8081/repository/nodejs-repo/:_auth=YWRtaW46cmFtdQ==

# Use npmjs.org as fallback proxy
registry=https://registry.npmjs.org/

# Optionally, use your private repo only for internal/private packages:
@your-scope:registry=http://172.21.40.70:8081/repository/nodejs-repo/
